<h1>Please login:</h1>
<%= form_for(@session, url: session_path, method: :post) do |f| %>
<%= f.label :email, "email" %>
<%= f.text_field :email %>
<br>
<%= f.label :password, "password" %>
<%= f.password_field :password %>
<br>
<%= f.submit "Login" %>
<% end %>
<hr>
<h3>New user?</h3>
<%= form_for(@session, url: users_path, method: :post) do |f| %>
<%= f.label :name, "name" %>
<%= f.text_field :name %>
<br>
<%= f.label :email, "e-mail" %>
<%= f.text_field :email %>
<br>
<%= f.label :password, "password" %>
<%= f.password_field :password %>
<br>
<%= f.submit "Sign-up" %>
<% end %>