<h1>Welcome to Dark Secrets</h1>
<h3>Please login:</h3>
<%= form_for(@session, url: session_path, method: :post) do |f| %>
<%= f.label :email, "email" %>
<%= f.text_field :email %>
<br>
<%= f.label :password, "password" %>
<%= f.password_field :password %>
<br>
<%= f.submit "Login" %>
<% end %>
<%= link_to "Forgot Password?", reset_pwd_users_path, method: :get %>
<hr>
<h3>New user?</h3>
<%= form_for(@session, url: users_path, method: :post) do |f| %>
<%= f.label :name, "name" %>
<%= f.text_field :name %>
<br>
<%= f.label :email, "e-mail" %>
<%= f.text_field :email %>
<br>
<%= f.label :password, "password" %>
<%= f.password_field :password %>
<br>
<%= f.submit "Sign-up" %>
<% end %>